<h1>Store States</h1>
<p>Current number of products available: <%=link_to @product_count, admin_products_path %></p>
<p>Current number of categories: <%= @categories_count %> </p>
<p> stretch add bootstrap to make it look nice later <p>